.blog-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-lg);

    .blog-card{
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: relative;

        img {
            border-radius: 10px;
            min-width: 360px;
            min-height: 335px;
            object-fit: cover;
            object-position: center;
        }

        .blog-title{
            h1{
                font-size: 16px;
                text-overflow: ellipsis;
                text-wrap: nowrap;
                overflow: hidden;
            }
    
            p{
                font-size: 14px;
            }
        }

        .blog-extra{
            display: flex;
            justify-self: end;
            justify-content: space-between;
        }

    }
}