.blog-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-lg);

    .blog-card{
        max-width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: relative;

        
        img {
            border-radius: 10px;
            object-fit: cover;
            object-position: center;
        }
        
        .blog-title{
            h1{
                font-size: 16px;
                text-overflow: ellipsis;
                text-wrap: nowrap;
                overflow: hidden;
            }
            
            p {
                font-size: 14px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
            }
        }
        
        .blog-extra{
            display: flex;
            justify-self: end;
            justify-content: space-between;
            
            button{
                background: none;
                color: var(--primary);
                font-weight: 800;
                cursor: pointer;
                border: none;
            }

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: start;
            }
        }
        
        @media (max-width: 1350px) {
            width: 30%;
            gap: 20px;
            justify-content: space-between;
        }
    }
}