.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: var(--padding-sm) var(--padding-lg);
    background-color: transparent;
    z-index: 10;
    color: white;
    
    @media (max-width: 768px) {
        position: sticky;
        background-color: white;
    }
    
    
    &.white-bg {
        background-color: white;
        color: black;
        
        .navbarMenu{
            ul{
                li{
                    a{
                        color: black;
                    }
                }
                .btn-secondary{
                    border: 1px solid black;
                    
                    &:hover{
                        a{
                            color: white;
                        }
                    }
                }
            }
        }
    }
    
    &.scrolled {
        background-color: transparent;
        @media (min-width: 768px) {
            .navbarLogo, .navbarMenu, .cart-search, .hamburger{
                display: none;
            }
    
            .navbar-scroll{
                display: block;
            }
            
        }
    }
    
    .navbarLogo {
        display: flex;
        align-items: center;
        text-decoration: none;

        @media (max-width: 768px) {
            display: none;
        }
    }

    .navbarMenu {
        @media (max-width: 768px) {
            position: absolute;
            height: 100vh;
            width: 45vw;
            top: 0;
            right: 0;
            display: none;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        *{
            text-decoration: none;
            color: white;
        }

        &.active {
            @media (max-width: 768px) {
                display: flex;
                background-color: white;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 50px;

                    li {
                        height: 25px;

                        a {
                            color: black;
                            text-decoration: none;

                            &:hover {
                                border-bottom: 1px solid black;
                            }
                        }
                    }
                }
            }
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            list-style: none;
            gap: 50px;

            @media (max-width: 768px) {
                flex-direction: column;
            }
        }
    }

    .cart-search {
        display: flex;
        gap: 30px;
    }

    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        z-index: 3;

        @media (max-width: 768px) {
            display: block;
        }

        span {
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 5px;
            background-color: black;
            transition: all 0.3s ease-in-out;
        }
    }

    .navbar-scroll{
        display: none;
        background-color: white;
        border-radius: 0 0 10px 10px;
        top: 0;
        left: 50%;
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        position: absolute;
        
        
        .animation{
            padding: 5px 30px;
            width: 100%;
            img{
                width: 15px;
                height: 15px;
                object-fit: contain;
                object-position: center;
            }
            &:hover{
                animation: bounce 0.7s ease-in-out infinite;
            }
        }

    }
}