.footer{
    background-color: var(--primary-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 50px;
    text-align: center;
    padding: var(--padding-md) 0 0 0;
    position: relative;
    overflow: hidden;

    .contact-socmed{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 var(--padding-lg);

        @media (max-width: 500px) {
            width: 100%;
        }

        h1{
            font-size: var(--font-lg);
        }

        .icons{
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 500px) {
                display: grid;
                grid-template-columns: repeat(2, auto);
                place-content: space-between;
                gap: 50px;
            }

            a{
                img{
                    border: 1px solid white;
                    padding: 10px;
                    border-radius: 100%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: visible;
                }
            }

        }

        .pages{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 70px;
            width: max-content;
            text-align: center;
            width: 100%;

            @media (max-width: 500px) {
                display: grid;
                grid-template-columns: repeat(2, auto);
                gap: 50px;
            }

            a{
                text-decoration: none;
                color: white;
                border-bottom: 1px solid transparent;
                transition: all 0.3s ease-in-out;

                &:hover{
                    border-bottom: 1px solid white;
                }
            }
        }
    }

    .copyright{
        background-color: black;
        width: 100%;
        z-index: 1;
        font-size: var(--font-sm);
    }

    .vector1{
        position: absolute;
        left: 0;
        bottom: -20px;

        @media (max-width:1200px) {
            width: 37vw;
            bottom: 0;
        }
    }

    .vector2{
        position: absolute;
        right: 0;
        bottom: -20px;

        @media (max-width:1200px) {
            width: 37vw;
            bottom: 0;
        }
}
}